In [1]:
# Dependencies
import json
import tweepy
import pandas as pd
import csv

In [2]:
# Import Twitter API Keys
from configtwit import consumer_key, consumer_secret, access_token, access_token_secret

In [3]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
#  need to create file before openging it. open("agoat.csv", 'w')
file = open("agoat.csv", 'w+', encoding='utf-8') 
file.close()
# writer = csv.writer(file, delimiter=',')

In [101]:

test_df = pd.DataFrame(columns = ['user','created_at','text'])
def get_tweets(username):

#	#http://tweepy.readthedocs.org/en/v3.1.0/getting_started.html#api
#	auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#	auth.set_access_token(access_key, access_secret)
#	api = tweepy.API(auth)

#set count to however many tweets you want; twitter only allows 200 at once
    number_of_tweets = 25
    

#get tweets

    
    tweets= api.user_timeline(screen_name = username,count = number_of_tweets)

#create array of tweet information: username, tweet id, date/time, text
    screen_name_list = []
    created_at_list = []
    texts_list = []
    
    for tweet in tweets:
        screen_name_list.append(username)
        created_at_list.append(tweet['created_at'])
        texts_list.append(tweet['text'])
    
    return screen_name_list,created_at_list,texts_list
    
    
        
#     tweets_for_csv = [username, tweet['created_at'], tweet['text']] for tweet in tweets]
    
# #write to a new csv file from the array of tweets
#     print ("agoat.csv".format(username))
#     with open("agoat.csv".format(username), 'a', encoding = 'utf-8') as file:
#         writer = csv.writer(file)
      
#         writer.writerow(tweets_for_csv)
#         file.close()

In [87]:
# Get all tweets from home feed tweet gets all tweets for only username
# public_tweets = api.home_timeline()
# set up tweeters i want to to see 
names_ls = ['lcc2525', 'CNN', 'FoxNews', 'MSNBC']
#name_ls = '@lcc2525'

In [92]:
# Loop through all tweets
test_df = pd.DataFrame(columns= ['screen_names',
    'created_at',
    'texts_list'])
test_df

Empty DataFrame
Columns: [user, created_at, text]
Index: []

In [107]:
df_list = pd.DataFrame(columns = ['screen_names','created_at','texts_list'])
df_list

Empty DataFrame
Columns: [screen_names, created_at, texts_list]
Index: []

In [114]:
df = []

for name in names_ls:
    x,y,z = get_tweets(name)
  
    test_df = pd.DataFrame({'screen_names':x,
                'created_at':y,
                'texts_list':z})

    df.append(test_df)
final_df = pd.concat(df)
final_df.to_csv('./agoat.csv')

In [ ]:
username_list = []
created_at_list = []
texts_list = []
    for tweet in tweets:
        username_list.append(username) 
        created_at_list.append(tweet['created_at'])
        texts_list.append(tweet['text'])

In [35]:
number_of_tweets = 25
    

#get tweets
tweets = api.user_timeline(screen_name = 
                           'CNN',count = number_of_tweets)

#create array of tweet information: username, tweet id, date/time, text
tweets_for_csv = {}
counter = 0
username = []
tweets = []
texts = []
for tweet in tweets:
    tweets
    counter += 1

tweets_dataframe = pd.DataFrame(tweets_for_csv)
tweets_dataframe.transpose()

,texts,tweets,username
0,General Services Administration head Emily Mur...,Tue Aug 28 01:15:11 +0000 2018,CNN
1,RT @CuomoPrimeTime: .@ChrisCuomo: “When will o...,Tue Aug 28 01:10:48 +0000 2018,CNN
2,John Goodman minces no words in his first publ...,Tue Aug 28 01:10:05 +0000 2018,CNN
3,RT @OutFrontCNN: Sen. John McCain was a seriou...,Tue Aug 28 01:07:53 +0000 2018,CNN
4,A Cleveland Indians All-Star sends a very powe...,Tue Aug 28 01:07:43 +0000 2018,CNN
5,RT @AC360: Republican Governor @JohnKasich rem...,Tue Aug 28 01:06:11 +0000 2018,CNN
6,Ohio Gov. John Kasich says he spoke with Sen. ...,Tue Aug 28 01:06:00 +0000 2018,CNN
7,RT @OutFrontCNN: GOP candidates are echoing Pr...,Tue Aug 28 01:03:35 +0000 2018,CNN
8,"So far, Republican senators are lukewarm on Se...",Tue Aug 28 01:01:04 +0000 2018,CNN
9,Korean pop group BTS just beat Taylor Swift's ...,Tue Aug 28 00:58:21 +0000 2018,CNN
10,The mass shooting that left 17 dead at a Parkl...,Tue Aug 28 00:55:00 +0000 2018,CNN
11,Donald Trump's shameful silence on John McCain...,Tue Aug 28 00:51:08 +0000 2018,CNN
12,Senate colleagues want to replace Richard B. R...,Tue Aug 28 00:46:23 +0000 2018,CNN
13,A new book about Vice President Mike Pence dee...,Tue Aug 28 00:41:04 +0000 2018,CNN
14,"RT @OutFrontCNN: ""I didn't agree with John McC...",Tue Aug 28 00:29:47 +0000 2018,CNN
15,Toyota just announced that it is investing $50...,Tue Aug 28 00:21:05 +0000 2018,CNN
16,RT @AC360: .@JohnBerman: Why was the President...,Tue Aug 28 00:20:44 +0000 2018,CNN
17,"Rudy Giuliani, President Trump's attorney, sai...",Tue Aug 28 00:17:27 +0000 2018,CNN
18,Former Trump campaign chairman Paul Manafort s...,Tue Aug 28 00:09:45 +0000 2018,CNN
19,Republican Senate candidate Kelli Ward apologi...,Tue Aug 28 00:01:07 +0000 2018,CNN
20,This is the most valuable car ever auctioned. ...,Tue Aug 28 00:01:00 +0000 2018,CNN
21,"RT @OutFrontCNN: Grant Woods, Sen. John McCain...",Mon Aug 27 23:58:02 +0000 2018,CNN
22,The mass shooting that left 17 dead at a Parkl...,Mon Aug 27 23:51:07 +0000 2018,CNN
23,North Korea's state newspaper accused the US o...,Mon Aug 27 23:41:03 +0000 2018,CNN
24,US on alert as Syrian regime prepares for assa...,Mon Aug 27 23:31:08 +0000 2018,CNN

In [85]:
test = api.user_timeline(screen_name = 'CNN',count = number_of_tweets)

test_list = []
for tweet in test:
    test_list.append(tweet['created_at'])
test_list

['Tue Aug 28 02:08:04 +0000 2018',
 'Tue Aug 28 02:01:09 +0000 2018',
 'Tue Aug 28 01:51:04 +0000 2018',
 'Tue Aug 28 01:46:00 +0000 2018',
 'Tue Aug 28 01:41:03 +0000 2018',
 'Tue Aug 28 01:38:11 +0000 2018',
 'Tue Aug 28 01:36:00 +0000 2018',
 'Tue Aug 28 01:31:36 +0000 2018',
 'Tue Aug 28 01:31:07 +0000 2018',
 'Tue Aug 28 01:29:02 +0000 2018',
 'Tue Aug 28 01:26:17 +0000 2018',
 'Tue Aug 28 01:21:15 +0000 2018',
 'Tue Aug 28 01:21:04 +0000 2018',
 'Tue Aug 28 01:15:11 +0000 2018',
 'Tue Aug 28 01:10:48 +0000 2018',
 'Tue Aug 28 01:10:05 +0000 2018',
 'Tue Aug 28 01:07:53 +0000 2018',
 'Tue Aug 28 01:07:43 +0000 2018',
 'Tue Aug 28 01:06:11 +0000 2018',
 'Tue Aug 28 01:06:00 +0000 2018',
 'Tue Aug 28 01:03:35 +0000 2018',
 'Tue Aug 28 01:01:04 +0000 2018',
 'Tue Aug 28 00:58:21 +0000 2018',
 'Tue Aug 28 00:55:00 +0000 2018',
 'Tue Aug 28 00:51:08 +0000 2018']

In [64]:
tweets['created_at']

TypeError: list indices must be integers or slices, not str

for tweet in tweets:
    print(tweets[''])